body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 100%;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

h1, h2 {
  font-weight: 600;
}

h1 {
  font-size: 1.6em; 
}

h2 {
  font-size: 1.2em;
}

button {
  background: transparent;
  color: dodgerblue;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0;
}

button:disabled {
  color: #eeeeee;
}
