.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #ffffff;
  background-color: #000209;
  overflow: hidden;
}

.connect > .preview {
  width: 852px;
  height: 300px;
}

.connect > .title {
  margin: 26px 26px 0 26px;
  font-size: 3.6em;
  font-weight: 300;
}

.connect > .description {
  margin: 16px 26px 0 26px;
  font-size: 1.2em;
  max-width: 700px;
}

@supports(margin: max(0px)) {
  .connect > .description {
    margin: 16px max(26px, env(safe-area-inset-right)) 0 max(26px, env(safe-area-inset-left));
  }
}

.connect > .action {
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connect > .action > .instructions {
  margin: 10px 26px 0 26px;
  font-size: 0.8em;
}

@supports(margin: max(0px)) {
  .connect > .action > .instructions {
    margin: 10px max(26px, env(safe-area-inset-right)) 0 max(26px, env(safe-area-inset-left));
  }
}

.connect > .action > .status {
  margin: 0 26px 10px 26px;
}
