.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background-color: #000209;
  overflow: hidden;
}

.connect > .preview {
  width: 852px;
  height: 300px;
}

.connect > .title {
  margin: 26px 26px 0 26px;
  font-size: 3.6em;
  font-weight: 300;
  text-align: center;
}

.connect > .description {
  margin: 20px 26px 0 26px;
  font-size: 1.2em;
  text-align: center;
}

@supports(margin: max(0px)) {
  .connect > .description {
    margin: 20px max(26px, env(safe-area-inset-right)) 0 max(26px, env(safe-area-inset-left));
  }
}

.connect > button > .connect-strava {
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
}

.connect > .authorizing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
}
