.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background-color: #000209;
}

.connect > .preview {
  width: 852px;
  height: 300px;
}

.connect > .title {
  margin: 26px 0 0 0;
  font-size: 4em;
  font-weight: 300;
}

.connect > .description {
  font-size: 1.2em;
}

.connect > button > .connect-strava {
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
}

.connect > .authorizing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
}
