.create > .controls {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: grey;
}

.create > .controls > * {
  margin-left: 14px;
  margin-right: 14px;
  
  background-color: yellow;
}

.create > a {
  visibility: hidden;
}
