footer {
  width: 100%;
  height: 80px;
}

footer > ul {
  margin: 0;
  padding: 0 20px 0 20px;
}

@supports(padding: max(0px)) {
  footer > ul {
    padding: 0 max(20px, env(safe-area-inset-right)) 0 max(20px, env(safe-area-inset-left));
  }
}

footer > ul > li {
  display: block;
  float: left;
  padding: 0 16px 0 0;
  line-height: 80px;
}

footer > ul > li > a {
  font-size: .9em;
  color: inherit;
}
